
.header {
  background-color: #ffffff;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #00065c;
}

.welcome-message {
  color: #e53935;
  font-size: 17px;
  font-weight: bold;  
}
.welcome-message span {
  color: #1e88e5;
  font-weight: bold;
}

.welcome-message p {
  margin: 2px;
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-weight: normal;
}

.search-bar {
  margin: 8px auto; /* Mengatur margin atas dan bawah 10px, margin kiri dan kanan otomatis */
  display: flex;
  align-items: center;
  position: relative;
  width: 480px; /* Lebar tetap 500px */
  justify-content: flex-end /* Memposisikan konten di sebelah kanan */
}



.search-bar input {
  padding: 10px 20px 10px 12px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #00d5ff;
  background: linear-gradient(to right, #001357 0%, #005fbd 100%);
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}

.search-bar input:focus {
  outline: none;
  border-color: #ffffff;
  color: white;
  text: 2px 2px 4px #ffffff;

}

.search-bar .icon {
  position: absolute;
  right: 15px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}
